<app-navbar></app-navbar>

<!--Formulario de registro-->
<form  [formGroup]="registerForm" (ngSubmit)="registerUser()">
  <h5>Registro de usuario</h5>

  <img *ngIf="fileByte" [src]="fileByte" class="img-thumbnail">
  <br>
  <!-- Grupo avatar de usuario. -->
  <label>Avatar</label>
    <input type="file" (change)="changeListener($event)" formControlName="file" class="form-control"
      [ngClass]="{ 'is-invalid': submitted && getFormsControls().file.errors }" />
    <div *ngIf="submitted && getFormsControls().file.errors" class="invalid-feedback">
      <div *ngIf="getFormsControls().file.errors.required">El avatar es necesario</div>
    </div>

  <!-- Grupo nombre de usuario. -->
  <div class="form-group">
    <label>Nombre de usuario</label>
    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && getFormsControls().username.errors }" />
    <div *ngIf="submitted && getFormsControls().username.errors" class="invalid-feedback">
      <div *ngIf="getFormsControls().username.errors.required">El nombre de usuario es necesario</div>
    </div>
  </div>

  <!-- Grupo contraseña. -->
  <div class="form-group">
    <label>Contraseña</label>
    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && getFormsControls().password.errors }" />
    <div *ngIf="submitted && getFormsControls().password.errors" class="invalid-feedback">
      <div *ngIf="getFormsControls().password.errors.required">Contraseña es necesaria</div>
      <div *ngIf="getFormsControls().password.errors.minlength">El tamaño minimo es de 6</div>
    </div>
  </div>

  <!-- Grupo boton registro. -->
  <div class="form-group">
    <button class="btn btn-primary">Registrar</button>
  </div>
  
</form>
